<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{'FORGOTPASSWORD.forgotPasswordHeading' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col style="max-width: 500px">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="f.form.valid && forgotPassword()" #f="ngForm" novalidate padding>
          <ion-list>
            <p>Please enter your email address below:</p>
            <ion-item lines="none">
              <ion-label>{{ 'AUTH.emailPlaceholder' | translate }}</ion-label>
              <ion-input 
                      type="text" 
                      formControlName="email"
                      [class.invalid-input]="f.submitted && errors.emailValidity"
                     >
              </ion-input>
            </ion-item>   
            <klix-form-error
            [showOn]="(resetPasswordForm.controls.email.touched && errorCtrl.email.errors?.email) || (f.submitted && errors.emailValidity)"
            [message]="'AUTH.invalidEmail' | translate">
            </klix-form-error> 
          </ion-list>  
          <!-- submit-btn -->
          <ion-button 
                  class="submit-btn" 
                  [disabled]="f.status === 'INVALID'" type="submit" 
                  expand="block">{{ 'FORGOTPASSWORD.submit' | translate }}
          </ion-button>
          <ion-button
                  fill="clear"
                  expand="block"
                  color="primary"
                  class="ion-margin-top"
                  style="text-transform: none;"
                  [routerLink]="['/login']">
                  {{ 'REGISTER.login' | translate }}
          </ion-button>
        </form>

         <!-- errors -->
      <klix-form-error [showOn]="errors.noUser" [message]="'ERROR.notRegistered' | translate"></klix-form-error>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 
